.breadcrumbs {
  margin-bottom: 1rem;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.separator {
  margin: 0 0.25rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb li::before {
  content: ' >';
  margin: 0 5px;
}

.breadcrumb li:last-child::after {
  content: '';
}
