<nav aria-label="Breadcrumb" class="breadcrumbs">
  @if (breadcrumbService.breadcrumbs().length > 0) {
    <ol class="breadcrumb-list">
      @for (crumb of breadcrumbService.breadcrumbs(); track crumb.url; let last = $last) {
        <li class="breadcrumb-item">
          @if (!last) {
            <a [routerLink]="crumb.url">{{ crumb.label }}</a>
            <span class="separator" aria-hidden="true">/</span>
          } @else {
            <span aria-hidden="page">{{ crumb.label }}</span>
          }
        </li>
      }
    </ol>
  }
</nav>
